* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}


/* TODAS AS TELAS */

.screen {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    text-align: center;
}


/* ESCONDER */

.hidden {
    display: none !important;
}


/* 404 */

#error h1 {
    font-size: 100px;
    margin-bottom: 10px;
}

#error p {
    font-size: 20px;
    color: #aaa;
}


/* LOADING */

#loading h2 {
    font-size: 30px;
}


/* PONTINHOS */

.dots span {
    opacity: 0;

    animation: blink 1.4s infinite;
}

.dots span:nth-child(1) {
    animation-delay: 0s;
}

.dots span:nth-child(2) {
    animation-delay: 0.2s;
}

.dots span:nth-child(3) {
    animation-delay: 0.4s;
}


@keyframes blink {

    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}


/* TEXTO DO ENTER */

.enter-text {
    margin-top: 30px;

    font-size: 14px;

    color: #666;

    animation: pulse 1.5s infinite;
}


@keyframes pulse {

    0%, 100% {
        opacity: 0.3;
    }

    50% {
        opacity: 1;
    }

}


/* ABRINDO ARQUIVO */

#opening h2 {
    font-size: 30px;
}


/* LOADING FINAL */

#final h2 {
    margin-top: 20px;

    font-size: 28px;

    letter-spacing: 5px;
}


/* CÍRCULO GIRANDO */

.loader {

    width: 70px;
    height: 70px;

    border: 7px solid #333;

    border-top: 7px solid white;

    border-radius: 50%;

    animation: spin 1s linear infinite;
}


@keyframes spin {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}
